ts-diabetes/src/main/resources/schemas/transport_model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (C) 2013 Inera AB (http://www.inera.se) This file is part 
  of Inera Certificate Modules (http://code.google.com/p/inera-certificate-modules). 
  Inera Certificate Modules is free software: you can redistribute it and/or 
  modify it under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or (at 
  your option) any later version. Inera Certificate Modules is distributed 
  in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even 
  the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
  See the GNU Affero General Public License for more details. You should have 
  received a copy of the GNU Affero General Public License along with this 
  program. If not, see <http://www.gnu.org/licenses/>. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="urn:riv:clinicalprocess:healthcond:certificate:1"
  xmlns:extension="urn:intyg:ts-diabetes:model:ext:1" xmlns:iso="urn:iso:21090:dt:1"
  targetNamespace="urn:riv:clinicalprocess:healthcond:certificate:1"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  version="1.0">

  <xs:import namespace="urn:iso:21090:dt:1" schemaLocation="core_components/iso_dt_subset_1.0.xsd" />

  <xs:element name="utlatande" type="utlatandeType" />

  <xs:complexType name="utlatandeType">
    <xs:sequence>
      <xs:element name="utlatande-id" type="utlatandeId" />
      <xs:element name="typAvUtlatande" type="utlatandeTyp" />
      <xs:element name="kommentar" type="xs:string"
        minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="signeringsdatum" type="dateTime" />
      <xs:element name="skickatdatum" type="dateTime"
        minOccurs="0" />
      <xs:element name="intygAvser" type="iso:CD" maxOccurs="unbounded" />


      <xs:element name="patient" type="patientType" />
      <xs:element name="skapadAv" type="hosPersonalType" />

      <xs:element name="vardkontakt" type="vardkontaktType" />
      <xs:element name="aktivitet" type="aktivitetType"
        minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="rekommendation" type="rekommendationType"
        minOccurs="1" maxOccurs="3" />
      <xs:element name="observation" type="observationType"
        maxOccurs="unbounded" />
      <xs:element name="observationAktivitetRelation" type="observationAktivitetRelationType"
        minOccurs="0" maxOccurs="unbounded" />

      <xs:element name="bilaga" type="bilagaType" minOccurs="1"
        maxOccurs="1" />
      <xs:element name="utgava" type="xs:string" />
      <xs:element name="version" type="xs:string" />


      <xs:any namespace="##other" processContents="lax"
        minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="utlatandeId">
    <xs:complexContent>
      <xs:restriction base="iso:II">
        <xs:attribute name="root" type="iso:Uid" use="required" />
        <xs:attribute name="extension" type="xs:string"
          use="optional" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="utlatandeTyp">
    <xs:complexContent>
      <xs:restriction base="iso:CD">
        <xs:attribute name="code" type="xs:string" use="required" />
        <xs:attribute name="codeSystem" type="iso:Uid" use="required"
          fixed="f6fb361a-e31d-48b8-8657-99b63912dd9b" />
        <xs:attribute name="codeSystemName" type="xs:string"
          use="required" fixed="kv_utlåtandetyp_intyg" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="personId">
    <xs:complexContent>
      <xs:restriction base="iso:II">
        <xs:attribute name="root" type="patientIdRoot" use="required" />
        <xs:attribute name="extension" type="patientIdExtension"
          use="required" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="patientIdRoot">
    <xs:restriction base="iso:Uid">
      <xs:enumeration value="1.2.752.129.2.1.3.1" />
      <xs:enumeration value="1.2.752.129.2.1.3.3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="patientIdExtension">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{8}-\d{4}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="hsaId">
    <xs:complexContent>
      <xs:restriction base="iso:II">
        <xs:attribute name="root" type="iso:Uid" use="required"
          fixed="1.2.752.129.2.1.4.1" />
        <xs:attribute name="extension" type="xs:string"
          use="required" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="arbetsplatsKod">
    <xs:complexContent>
      <xs:restriction base="iso:II">
        <xs:attribute name="root" type="iso:Uid" use="required"
          fixed="1.2.752.29.4.71" />
        <xs:attribute name="extension" type="xs:string"
          use="required" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="patientType">
    <xs:sequence>
      <xs:element name="person-id" type="personId" />
      <xs:element name="fornamn" type="xs:string" maxOccurs="unbounded" />
      <xs:element name="efternamn" type="xs:string" />
      <xs:element name="postadress" type="xs:string" />
      <xs:element name="postnummer" type="xs:string" />
      <xs:element name="postort" type="xs:string" />

      <xs:any namespace="##other" processContents="lax"
        minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vardkontaktType">
    <xs:sequence>
      <xs:element name="vardkontakttyp" type="iso:CD" />
      <xs:element name="idKontroll" type="iso:CD" />

      <xs:any namespace="##other" processContents="lax"
        minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="aktivitetType">
    <xs:sequence>
      <xs:element name="aktivitetsid" type="iso:II"
        minOccurs="0" />
      <xs:element name="aktivitetskod" type="iso:CD" />
      <xs:element name="ostruktureradtid" type="xs:string"
        minOccurs="0" />
      <xs:element name="beskrivning" type="xs:string"
        minOccurs="0" />
      <xs:element name="aktivitetsstatus" type="iso:CD"
        minOccurs="0" />
      <xs:element name="plats" type="xs:string" minOccurs="0" />
      <xs:element name="metod" type="iso:CD" minOccurs="0" />
      <xs:element name="forekomst" type="xs:boolean"
        minOccurs="0" />

      <xs:any namespace="##other" processContents="lax"
        minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="observationType">
    <xs:sequence>
      <xs:element name="observationsid" type="iso:II"
        minOccurs="0" />
      <xs:element name="observationskod" type="iso:CD" />
      <xs:element name="forekomst" type="xs:boolean"
        minOccurs="0" />
      <xs:element name="lateralitet" type="iso:CD" minOccurs="0" />
      <xs:element name="varde" type="iso:PQ" minOccurs="0" />
      <xs:element name="beskrivning" type="xs:string"
        minOccurs="0" />
      <xs:element name="observationstid" type="date"
        minOccurs="0" maxOccurs="1" />
      <xs:element name="observationsperiod" type="partialDateInterval"
        minOccurs="0" maxOccurs="1" />
      <xs:any namespace="##other" processContents="lax"
        minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rekommendationType">
    <xs:sequence>
      <xs:element name="rekommendationskod" type="iso:CD" />
      <xs:element name="beskrivning" type="xs:string"
        minOccurs="0" />
      <xs:element name="varde" type="iso:CD" minOccurs="0"
        maxOccurs="16" />
      <xs:element name="boolean_varde" type="xs:boolean"
        minOccurs="0" />
      <xs:any namespace="##other" processContents="lax"
        minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bilagaType">
    <xs:sequence>
      <xs:element name="bilagekod" type="iso:CD" />
      <xs:element name="forekomst" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hosPersonalType">
    <xs:sequence>
      <xs:element name="personal-id" type="iso:II">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är
            1.2.752.129.2.1.4.1
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fullstandigtNamn" type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>Förnamn + efternamn sammanslaget.
            Är tomt om
            personen har en skyddad identitet.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="befattning" type="iso:CD"
        minOccurs="0" maxOccurs="unbounded" />
        
      <xs:element name="enhet" type="enhetType" />
      <xs:element name="specialitet" type="iso:CD" minOccurs="0"
        maxOccurs="unbounded" />

      <xs:any namespace="##other" processContents="lax"
        minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="enhetType">
    <xs:sequence>
      <xs:element name="enhets-id" type="hsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är
            1.2.752.129.2.1.4.1
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arbetsplatskod" type="arbetsplatsKod"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>o.i.d för arbetsplatskod är 1.2.752.29.4.71
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="enhetsnamn" type="xs:string" />
      <xs:element name="postadress" type="xs:string"
        minOccurs="0" />
      <xs:element name="postnummer" type="xs:string"
        minOccurs="0" />
      <xs:element name="postort" type="xs:string" minOccurs="0" />
      <xs:element name="telefonnummer" type="xs:string"
        minOccurs="0" />
      <xs:element name="epost" type="xs:string" minOccurs="0" />
      <xs:element name="vardgivare" type="vardgivareType"
        minOccurs="0" />

      <xs:any namespace="##other" processContents="lax"
        minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vardgivareType">
    <xs:sequence>
      <xs:element name="vardgivare-id" type="hsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är
            1.2.752.129.2.1.4.1
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vardgivarnamn" type="xs:string" />

      <xs:any namespace="##other" processContents="lax"
        minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="observationAktivitetRelationType">
    <xs:sequence>
      <xs:element name="observationsid" type="iso:II" />
      <xs:element name="aktivitetsid" type="iso:II" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="date">
    <xs:annotation>
      <xs:documentation>
        Date value is a string with the format
        &#34;YYYY-MM-DD&#34; that
        conforms to the constrained ISO 8601.
        Time
        and timezone precision is not required.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern
        value="[1-2][0-9]{3,3}-((0[1-9])|(1[0-2]))-((0[1-9])|([1-2][0-9])|(3[0-1]))" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dateTime">
    <xs:annotation>
      <xs:documentation>
        DateTime value is a string with the format
        &#34;YYYY-MM-DDThh:mm:ss&#34;
        that conforms to the constrained
        ISO
        8601.
        Fraction of seconds and timezone precision is not
        required.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern
        value="[1-2][0-9]{3,3}-((0[1-9])|(1[0-2]))-((0[1-9])|([1-2][0-9])|(3[0-1]))T(([0-1][0-9])|(2[0-3])):([0-5][0-9]):([0-5][0-9])" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="partialDate">
    <xs:annotation>
      <xs:documentation>
        PartialDate value is a string with the format
        &#34;YYYY[-MM[-DD]]&#34; that
        conforms to the constrained ISO
        8601.
        In
        contrast to the date type, this type also allows for
        year-only and
        year-and-month values.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern
        value="[1-2][0-9]{3,3}(-((0[1-9])|(1[0-2]))(-((0[1-9])|([1-2][0-9])|(3[0-1])))?)?" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="dateInterval">
    <xs:sequence>
      <xs:element name="from" type="date" minOccurs="0" />
      <xs:element name="tom" type="date" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="partialDateInterval">
    <xs:sequence>
      <xs:element name="from" type="partialDate" minOccurs="0" />
      <xs:element name="tom" type="partialDate" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>