fk7263/src/main/resources/schemas/fk7263_model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2013 Inera AB (http://www.inera.se)

    This file is part of Inera Certificate Modules (http://code.google.com/p/inera-certificate-modules).

    Inera Certificate Modules is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    Inera Certificate Modules is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:riv:clinicalprocess:healthcond:certificate:1"
           xmlns:ext="urn:riv:clinicalprocess:healthcond:certificate:fk7263:1"
           xmlns:iso="urn:iso:21090:dt:1"
           targetNamespace="urn:riv:clinicalprocess:healthcond:certificate:1"
           elementFormDefault="qualified" attributeFormDefault="unqualified"
           version="1.0">

  <xs:import namespace="urn:iso:21090:dt:1" schemaLocation="core_components/iso_dt_subset_1.0.xsd"/>
  <xs:import namespace="urn:riv:clinicalprocess:healthcond:certificate:fk7263:1" schemaLocation="fk7263_model_extension.xsd"/>

  <xs:include schemaLocation="core_components/clinicalprocess_healthcond_types_0.9.xsd"/>

  <xs:element name="utlatande" type="utlatandeType"/>

  <xs:complexType name="utlatandeType">
    <xs:sequence>
      <xs:element name="utlatande-id" type="utlatandeId"/>
      <xs:element name="typAvUtlatande" type="utlatandeTyp"/>
      <xs:element name="kommentar" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="signeringsdatum" type="dateTime"/>
      <xs:element name="skickatdatum" type="dateTime" minOccurs="0"/>

      <xs:element name="patient" type="patientType"/>
      <xs:element name="skapadAv" type="hosPersonalType"/>
      <xs:element name="vardkontakt" type="vardkontaktType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="referens" type="referensType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="aktivitet" type="aktivitetType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="observation" type="observationType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ext:observationssamband" minOccurs="0" maxOccurs="2" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hosPersonalType">
    <xs:sequence>
      <xs:element name="personal-id" type="hsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är 1.2.752.129.2.1.4.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fullstandigtNamn" type="nonEmptyString">
        <xs:annotation>
          <xs:documentation>Förnamn + efternamn sammanslaget.
            Är tomt om personen har en skyddad identitet.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Skyddad identitet -->
      <xs:element name="forskrivarkod" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="enhet" type="enhetType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="enhetType">
    <xs:sequence>
      <xs:element name="enhets-id" type="hsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är 1.2.752.129.2.1.4.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arbetsplatskod" type="arbetsplatsKod" minOccurs="0">
        <xs:annotation>
          <xs:documentation>o.i.d för arbetsplatskod är 1.2.752.29.4.71</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="enhetsnamn" type="nonEmptyString"/>
      <xs:element name="postadress" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="postnummer" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="postort" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="telefonnummer" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="epost" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="vardgivare" type="vardgivareType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vardgivareType">
    <xs:sequence>
      <xs:element name="vardgivare-id" type="hsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är 1.2.752.129.2.1.4.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vardgivarnamn" type="nonEmptyString"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patientType">
    <xs:sequence>
      <xs:element name="person-id" type="personId"/>
      <xs:element name="fornamn" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="efternamn" type="nonEmptyString"/>
      <xs:element name="mellannamn" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element name="arbetsuppgift" type="arbetsuppgiftType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="sysselsattning" type="sysselsattningType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="arbetsuppgiftType">
    <xs:sequence>
      <xs:element name="typAvArbetsuppgift" type="nonEmptyString"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sysselsattningType">
    <xs:sequence>
      <xs:element name="typAvSysselsattning" type="sysselsattningKod"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sysselsattningKod">
    <xs:complexContent>
      <xs:restriction base="iso:CD">
        <xs:attribute name="code" type="sysselsattningKodEnum" use="required"/>
        <xs:attribute name="codeSystem" type="iso:Uid" use="required" fixed="1.2.752.116.2.1.1.1"/>
        <xs:attribute name="codeSystemName" type="xs:string" use="required" fixed="SNOMED-CT"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="sysselsattningKodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="224375002"/>
      <xs:enumeration value="73438004"/>
      <xs:enumeration value="224458009"/>
      <xs:enumeration value="224457004"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="vardkontaktType">
    <xs:sequence>
      <xs:element name="vardkontakttyp" type="vardkontaktKod"/>
      <xs:element name="vardkontakttid" type="dateInterval"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vardkontaktKod">
    <xs:complexContent>
      <xs:restriction base="iso:CD">
        <xs:attribute name="code" type="vardkontaktKodEnum" use="required"/>
        <xs:attribute name="codeSystem" type="iso:Uid" use="required" fixed="1.2.752.116.2.1.1.1"/>
        <xs:attribute name="codeSystemName" type="xs:string" use="required" fixed="SNOMED-CT"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="vardkontaktKodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="5880005"/>
      <xs:enumeration value="185317003"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="referensType">
    <xs:sequence>
      <xs:element name="referenstyp" type="referensKod"/>
      <xs:element name="referensdatum" type="date"/>
      <xs:element name="beskrivning" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="referensKod">
    <xs:complexContent>
      <xs:restriction base="iso:CD">
        <xs:attribute name="code" type="referensKodEnum" use="required"/>
        <xs:attribute name="codeSystem" type="iso:Uid" use="required" fixed="1.2.752.116.2.1.1.1"/>
        <xs:attribute name="codeSystemName" type="xs:string" use="required" fixed="SNOMED-CT"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="referensKodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="419891008"/>
      <xs:enumeration value="74964007"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="aktivitetType">
    <xs:sequence>
      <xs:element name="aktivitetskod" type="aktivitetKod"/>
      <xs:element name="aktivitetstid" type="dateInterval" minOccurs="0"/>
      <xs:element name="beskrivning" type="nonEmptyString" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aktivitetKod">
    <xs:complexContent>
      <xs:restriction base="iso:CD">
        <xs:attribute name="code" type="aktivitetKodEnum" use="required"/>
        <xs:attribute name="codeSystem" type="iso:Uid" use="required" fixed="8040b4d1-67dc-42e1-a938-de5374e9526a"/>
        <xs:attribute name="codeSystemName" type="xs:string" use="required" fixed="kv_aktiviteter_intyg"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="aktivitetKodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AKT1"/>
      <xs:enumeration value="AKT2"/>
      <xs:enumeration value="AKT3"/>
      <xs:enumeration value="AKT4"/>
      <xs:enumeration value="AKT5"/>
      <xs:enumeration value="AKT6"/>
      <xs:enumeration value="AKT7"/>
      <xs:enumeration value="AKT8"/>
      <xs:enumeration value="AKT9"/>
      <xs:enumeration value="AKT10"/>
      <xs:enumeration value="AKT11"/>
      <xs:enumeration value="AKT12"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="observationType">
    <xs:sequence>
      <xs:element name="observations-id" type="ext:relationId" minOccurs="0" maxOccurs="1"/>
      <xs:element name="observationskategori" type="observationKategoriKod" minOccurs="0"/>
      <xs:element name="observationskod" type="observationKod" minOccurs="0"/>
      <xs:element name="beskrivning" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="observationsperiod" type="dateInterval" minOccurs="0"/>
      <xs:element ref="ext:varde" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ext:kommentar" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="observationKategoriKod">
    <xs:complexContent>
      <xs:restriction base="iso:CD">
        <xs:attribute name="code" type="observationKategoriKodEnum" use="required"/>
        <xs:attribute name="codeSystem" type="iso:Uid" use="required"/>
        <xs:attribute name="codeSystemName" type="xs:string" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="observationKategoriKodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="b"/>
      <xs:enumeration value="d"/>
      <xs:enumeration value="439401001"/>
      <xs:enumeration value="85097005"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="observationKod">
    <xs:complexContent>
      <xs:restriction base="iso:CD">
        <xs:attribute name="code" type="xs:string" use="required"/>
        <xs:attribute name="codeSystem" type="iso:Uid" use="optional"/>
        <xs:attribute name="codeSystemName" type="xs:string" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>